# Go build artifacts
/backend/gosnip
/backend/cmd/gosnip/gosnip
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
coverage.*
*.coverprofile
profile.cov

# SQLite database files
*.db
*.db-journal
*.db-shm
*.db-wal

# Go
vendor/
go.work
go.work.sum

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.gitkeep

# env file
.env

# Editor / OS
.DS_Store
.idea/
.vscode/
